.detail {
	text-align: left;
	background: rgba(249, 249, 249, .7);
	color: black;
	padding-top: 25px;
	padding-bottom: 25px;
}

.detail-title {
	font-size: 1.5em;
	font-weight: 700;
}

.detail-subtitle {
	font-size: 1.25em;
}

.detail-img {
	background: white;
}

.detail-section-title {
	font-size: 1.25em;
	font-weight: 700;
}

.detail > .row:not(:last-child) {
	padding-bottom: 15px;
}

@media(max-width:768px) {
	.detail > .row:not(:last-child) {
		padding-bottom: 0;
	}

	.detail [class*='col'] {
		padding-bottom: 10px;
	}

	.detail > .row:last-child > [class*='col']:last-child {
		padding-bottom: 0;
	}
}