/* Accent color: #3497DA */

body {
	font-family: Lato, sans-serif;
	font-size: 18px;
	margin: 0;
	background: #D8D8D8;
}

.container {
	text-align: center;
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container div {
	margin-top: 25px;
}

.container div:first-child {
	margin-top: 0;
	margin-bottom: 50px;
}

.title {
	font-size: 5em;
	font-family: Caveat;
	color: #3497DA;
}

.subtitle {
	font-size: 1.5em;
}

.contact-link {
	display: inline-block;
}

.contact-link {
	margin: 0 10px;
}

.contact-link i {
	color: #000000;
}

.contact-link i:hover {
	color: #3497DA;
}

.content-wrapper {
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Mobile-friendly styling */
@media(max-width:768px) {
	body {
		font-size: 14px;
	}
	
	.container div {
		margin-top: 10px;
	}

	.container div:first-child {
		margin-top: 0;
		margin-bottom: 20px;
}
}

.fade-in {
	-webkit-animation: fadeIn 2s;
	animation: fadeIn 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.delay-one {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;	
}

.delay-two {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;	
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0; 
	}
	100% {
		opacity: 1; 
	} 
}

@keyframes fadeIn {
	0% {
		opacity: 0; 
	}
	100% {
		opacity: 1; 
	} 
}