html {
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 1rem;
}

body {
	margin: 0;
	background: black;
}

h1, h2 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.5rem;
	line-height: 1.1em;
	letter-spacing: .25em;
	font-weight: 600;
}

h2 {
	font-size: 1.25rem;
	line-height: 1.1em;
	letter-spacing: .2em;
	font-weight: 200;
}

p {
	font-size: 1rem;
}

.background {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#blue-city {
	background: url('cityblue.jpg') no-repeat;
	background-size: cover;
	z-index: -1;
}

.container {
	width: 100%;
}

.header {
	text-align: center;
	color: white;
	padding: 1rem;
}

.header a {
	text-decoration: none;
	color: white;
}

.horizontal {
	display: inline-block;
	padding: 0 1rem;
}

.icon:hover {
	color: #1e1d1d;
}

.fade-in {
	-webkit-animation: fadeIn 2s;
	animation: fadeIn 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.delay-half {
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}

.delay-one {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;	
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0; 
	}
	100% {
		opacity: 1; 
	} 
}

@keyframes fadeIn {
	0% {
		opacity: 0; 
	}
	100% {
		opacity: 1; 
	} 
}

@media screen and (min-width: 500px){
	html {
		font-size: 14px;
	}
}

@media screen and (min-width: 750px){
	html {
		font-size: 15px;
	}
}

@media screen and (min-width: 1000px){
	html {
		font-size: 16px;
	}
}