---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Card from '../../components/Card.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths({ paginate }) {
  const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
  );
  return paginate(posts, { pageSize: 10 });
}

const { page } = Astro.props;
---

<BaseLayout title="Blog">
  <h1 class="text-3xl w-full font-bold mb-5">Blog</h1>
  <ul class="flex flex-col gap-5">
    {
      page.data.map((post) => (
        <Card
          title={post.data.title}
          desc={post.data.description}
          url={'/blog/' + post.slug}
          date={post.data.date}
          target="_self"
        />
      ))
    }
  </ul>
</BaseLayout>
