---
import { SOCIALS } from '@config';
import LinkButton from './LinkButton.astro';
import socialIcons from '@assets/socialIcons';
---

<div class="social-icons">
  {
    SOCIALS.filter((social) => social.active).map((social) => (
      <LinkButton
        href={social.href}
        className="link-button"
        title={social.linkTitle}
        newPage
      >
        <Fragment set:html={socialIcons[social.name]} />
      </LinkButton>
    ))
  }
</div>

<style>
  .social-icons {
    @apply flex flex-wrap justify-center gap-2;
  }
  .link-button {
    @apply p-2 hover:rotate-6 sm:p-1;
  }
</style>
